<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<div class="row">
  <div class="col-12">
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p4"><a class="dropdown-item" href="#" style="color: aliceblue">Action</a></div>
      <div class="bg-dark p4"><a class="dropdown-item" href="#" style="color: aliceblue">Another action</a></div>
    </div>
  </div>
</div>
